<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 ml-auto">
          <form class="input-icon my-3 my-lg-0">
            <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
            <div class="input-icon-addon">
              <i class="fe fe-search"></i>
            </div>
          </form>
        </div>
        <div class="col-lg order-lg-first">
          <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
            <li class="nav-item">
              <a href="/server/<%= server.ID %>"class="nav-link"><i class="fas fa-terminal"></i> ⠀Console</a>
            </li>
            <li class="nav-item">
                <a href="/server/<%= server.ID %>/files" class="nav-link"><i class="fas fa-folder"></i> ⠀Files</a>
              </li>
              <li class="nav-item">
                <a href="/server/<%= server.ID %>/databases" class="nav-link"><i class="fas fa-database"></i> ⠀Databases</a>
              </li>
              <li class="nav-item">
                <a href="/server/<%= server.ID %>/backups" class="nav-link"><i class="far fa-save"></i> ⠀Backups</a>
              </li>
              <li class="nav-item">
                <a href="/server/<%= server.ID %>/ports" class="nav-link"><i class="fas fa-network-wired"></i>⠀Ports</a>
              </li>
              <li class="nav-item">
                <a href="/server/<%= server.ID %>/settings" class="nav-link"><i class="fas fa-cog"></i> ⠀Settings</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>