<!doctype html>
<%- include('../components/head'); %>
<html lang="en" dir="ltr">
  <body class="">
    <div class="page">
      <div class="page-main">
        <%- include('../components/nav'); %>
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="page-header">
              <h1 class="page-title">
                Dashboard
              </h1>
            </div>
            <div class="row row-deck">
                <% server.forEach(function(server) { %>
                <div class="col-md-6">
                    <a href="/server/<%= server.ID %>" style="text-decoration: none;" class="text-inherit">
                    <div class="card">
                      <div class="card-status-top bg-danger"></div>
                      <div class="card-body">
                        <h3 class="card-title"><span class="badge badge-pill bg-green">Running</span> <strong><%= server.name %></strong></h3>
                        <p><i class="fas fa-memory"></i> <%= server.ramUsed %>/<%= server.ramAvl %> MB⠀⠀⠀<i class="fas fa-microchip"></i> <%= server.cpuUsed %>/<%= server.cpuAvl %>%⠀⠀⠀<i class="fas fa-save"></i> <%= server.diskUsed %>/<%= server.diskAvl %> MB</p>
                      </div>
                    </div>
                </a>
                </div>
                <% }); %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../components/footer'); %>
  </body>
</html>